a {
    color: rgb(255, 255, 255);
  }

  body {
    Font-Family: 'Rubik', Sans-Serif;
    Font-Size: 15px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    Font-Family: 'Old Standard TT', Serif;
    Font-Size: 48px;
  }
  