{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-l2 center-align">
        <img class="responsive-img" src="https://github.com/rebeccadev/ms3-vinyl-revival-project/blob/master/static/images/vinylerror.jpg?raw=true" alt="half vinyl record"> 
        <h2 class="center-align"> 404 </h2>
        <h6 class="center-align">Oops! It appears that we couldn't find the page that you were looking for.</h6> <br>
        <a href="{{ url_for('get_record') }}" class="waves-effect grey btn">Go back home</a></li>
    </div>
</div>
{% endblock %}