{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add a record</h3>


<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-record-vinyl prefix"></i>
          <input id="record_name" name="record_name" minlength="1" maxlength="50"
           type="text" class="validate" required>
          <label for="record_name">Record Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-tag prefix"></i>
          <input id="artist" name="artist" minlength="1" maxlength="50"
          type="text" class="validate" required>
         <label for="artist">Artist</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 field_wrapper">
          <i class="fas fa-music prefix"></i>
          <input type="text" id="tracklisting" name="tracklisting" value=""/>
          <a href="javascript:void(0);" class="add_button" title="Add field"><img src="static/images/add-button.png"/></a>
         <label for="tracklisting">Track 1.</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-hourglass-half prefix"></i>
          <input id="length" name="length" minlength="1" maxlength="50"
          type="text" class="validate" required>
         <label for="length">Length</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-calendar-alt prefix"></i>
          <input id="release_date" name="release_date" 
          type="text" class="datepicker validate" required>
         <label for="release_date"> Release Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-image prefix"></i>
          <input id="album_art" name="album_art" minlength="10" maxlength="50"
          type="text" class="validate" required>
         <label for="album_art">Album Art</label>
        </div>
      </div>
      <!-- is urgent toggle -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
              <i class="fas fa-heart"></i>
						    <label for="is_favourite">
                  <input type="checkbox" id="is_favourite" name="is_favourite">
                  <span class="lever"></span>
                  Favourite?
                  </label>
					</div>
				</div>
			</div>
      </div>
    </form>
  </div>
        

{% endblock %}