<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinyl Revival</title>
</head>
<body>
    {% for record in record %}
        {{ record.genre_name }}<br>
        {{ record.record_name }}<br>
        {{ record.artist }}<br>
        {{ record.release_date }}<br>
        {{ record.length }}<br>
        {{ record.tracklisting }}<br>
        {{ record.rating }}<br>
        {{ record.is_favourite }}<br>
    {% endfor %}
</body>
</html>