{% extends "base.html" %}
{% block content %}
 
<div class="row">
    <div class="col s4 pt50">
        <h3>Listen <br>up...</h3> <br>
            <span class="valign-wrapper">
                Vinyl revival has been created by record enthusiasts in response
                to the resurgence in vinyl. New figures reveal that nearly one in five
                 (18%) of all albums purchased across 2020 were vinyl, with 4.8 million LPs
                being purchased. <br> <br> We aim to be the go to app to for vinyl enthusiasts. Here
                you will be able to upload your record collection, review records, and view
                others collections.
            </span>
    </div>
    <div class="col s8 pt50">
        <img class="responsive-img" src="static/images/vinylheroimg.jpg">
    </div>
</div>

<div class="row">

    <div class="col s4 center-align">
        <i class="fas fa-4x fa-pencil-alt"></i><br>
        Register for your account with us. <br>
        It's free and always will be!
    </div>
        <div class="col s4 center-align">
        <i class="fas fa-4x fa-compact-disc"></i><br>
        Start adding records to your collection. <br>
        We also give you the option to highlight <br>
        your faves!
        </div>
        <div class="col s4 center-align">
            <i class="far fa-4x fa-comment-dots"></i><br>
        Leave reviews of other uploaded records, give ratings aswell
        as written reviews.
        </div>

  </div>

    <h2 class ="center center-align">Latest sounds</h2>


    {% for record in record %}
    <div class="row">
            
        <div class="col s4">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ record.album_art }}">
                </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ record.record_name }} <br>
                        Artist: {{ record.artist }}<i class="material-icons right"> {{ record.genre_name }}</i></span>
                            Rating: {{ record.rating }}/5
                            <span class="right">
                                {% if record.is_favourite == "on" %}
                                <i class="right fas  fa-2x fa-heart red-text tooltipped"
                                data-position="right" data-tooltip="Favourite Vinyl!"></i></span>
                                {% endif %}
                    </div>
                        <div class="card-action">
                            <span class="created-by right">
                            <em>Added by: {{ record.created_by }} </em></p>       
                            </span>           
                        {% if session.user|lower == record.created_by|lower %}
                        <a href="{{ url_for('edit_record', record_id=record._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                        <a href="{{ url_for('delete_record', record_id=record._id) }}" class="waves-effect waves-light btn-small red">Delete</a>
                        {% endif %}
                        </div>
                      
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Extra info<i class="material-icons right">close</i></span>
                        <p>Tracklisting:
                            <ol> 
                                {% for tracklisting in record.tracklisting %}
                                <li>{{ tracklisting}}</li>
                                {% endfor %}
                            </ol>
                        </p>
                        <p> Length: {{ record.length }}</p>
                        <p> Release date: {{ record.release_date }}</p>
                    </div>
            </div>   
        </div>
                    
    {% endfor %}

{% endblock %}